<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'homepage' %}">Ken Tian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" >Blog </a>
                <a class="nav-item nav-link" href="https://news.google.com/?hl=en-US&gl=US&ceid=US:en">Twitter</a>
                <a class="nav-item nav-link" href=" {%static 'resume.pdf'%} ">Resume</a>

            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div class="container">
        <h1 class="text-center pt-5">welcome to my blogs</h1>
        <br>
        <br>
        <h2>my latest blog</h2>
        <hr/>
        {% for e in allblogs.all %}
        <a href="{% url 'blog_detail' e.id %}"><h1>{{ e.title }}</h1></a>
        <h6>{{ e.pretty_time }}</h6>
        <img class="img-fluid" height="400" width="300" src="{{ e.image.url }}">
            <p>{{ e.summary }}</p>
        {% endfor %}
    </div>
</main>

<footer class="text-muted">
    <div class="container text-center">
        <p> &copy;COPY RIGHT KEN TIAN {% now "Y"%}</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
        integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
        crossorigin="anonymous"></script>
</body>
</html>